#
# Build ignores
#
.*
*.o
*.o.*
*.a
*.s
*.1.gz
Kbuild
Config.in

#
# Never ignore these
#
!.gitignore

#
# Normal output and testing dirs
#
/foo
/ac_monitor
/read_inf_section
/suggest_decompressor
/tss_file_tool
/tt_beacon
/debug.log

#
# Backups / patches
#
*~
*.orig
*.rej
/*.patch

#
# debugging stuff
#
core
.gdb_history
.gdbinit

